/* The sidebar menu */
.sidenav {
    width: 190px; 
    background-color: rgba(68, 146, 177, 0.2); /* Black */
    overflow-x: hidden; 
    padding-top: 20px;
    flex-grow: 0.5;
    flex-shrink: 0;
    flex-basis: 155px;
    border-radius: 30px;
    margin: 20px 00px 20px 20px;
  }
  
.sidenav a{
    padding: 22px 12% 6px 14%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
  }

.sidenav a:hover {
    color: #f1f1f1;
  }
  
.sidenav a:active {
  color: #5e5e5e;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  @media screen and (max-width: 1000px) {
    .sidenav {
      flex-basis: 100px;
      flex-grow: 0.2;
    }
    .sidenav a {
      font-size: 18px;
      padding-right: 2%;
    }
  } 