.cont {
    color: #faed26;
    
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #46115F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236B006B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23670067'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com, go check it out! */}

.errorMessage{
  margin: 0px 16px 12px 16px;
  color: red;
  font-weight: 350;
}

.middleContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formTitle{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 40;
    font-weight: 300;
    margin-bottom: 0;
}

.loginForm {
  width: 80%;
  padding-bottom: 35px;
}

:focus{outline: none;}

.inputNormal{ width: 93%; margin: 21px 3%; position: relative;}
.inputError{ width: 93%; margin: 21px 3% 12px 3%; position: relative;} 
.inputNormal input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
input[type="password"]{background-color:transparent; font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.registerButton {
  background-color: #4492b1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 93%;
  margin:0 3% 16px 3%;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}

.sign{
  margin-left: 3%;
}

.copyright{
  margin: 70px 0 0 100px;
}

.registerButton:hover {
  opacity: 0.92;
}

.registerButton:active {
  background-color: #275f4a;
  box-shadow: -1px 1px 5px 0px #666;
  transform: translateY(0px);
}
