.cont {
    color: #faed26;
    
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgb(70,52,78);
    background: linear-gradient(45deg, rgba(70,52,78,1) 0%, rgba(77,68,87,1) 79%, rgba(84,85,96,1) 100%); 
  }

.errorMessage{
  margin: 0px 16px 12px 16px;
  color: red;
  font-weight: 350;
}

.middleContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formTitle{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 40;
    font-weight: 300;
    margin-bottom: 0;
}

.loginForm {
  width: 80%;
  padding-bottom: 35px;
}

:focus{outline: none;}

.inputNormal{ width: 93%; margin: 21px 3%; position: relative;}
.inputError{ width: 93%; margin: 21px 3% 12px 3%; position: relative;} 
.inputNormal input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
input[type="password"]{background-color:transparent; font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.registerButton {
  background-color: #3e7761;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 93%;
  margin:0 3% 16px 3%;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}

.sign{
  margin-left: 3%;
}

.copyright{
  margin: 70px 0 0 100px;
}

.registerButton:hover {
  opacity: 0.92;
}

.registerButton:active {
  background-color: #275f4a;
  box-shadow: -1px 1px 5px 0px #666;
  transform: translateY(0px);
}
