.cont {
    color: #faed26;
    
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgb(70,52,78);
    background: linear-gradient(45deg, rgba(70,52,78,1) 0%, rgba(77,68,87,1) 79%, rgba(84,85,96,1) 100%); 
  }

  .errorMessageLogin{
    margin: 0px 16px 20px 16px;
    color: red;
    font-weight: 350;
  }

.middleContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formTitle{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 40;
    font-weight: 300;
    margin-bottom: 0;
}

.loginForm {
  width: 80%;
  padding-bottom: 35px;
}

:focus{outline: none;}

.input1{ width: 93%; margin: 32px 3%; position: relative;} /* necessary to give position: relative to parent. */
.input2{ width: 93%; margin: 32px 3% 18px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
input[type="password"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


.effect-20{border: 1px solid #ccc; padding: 7px 14px; transition: 0.4s; background: transparent;}
.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #ff33dd; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #ffc933; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #63d62e; transition: 0.3s;}

.loginButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 93%;
  margin:0 3% 16px 3%;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}

.signUp{
  margin-left: 3%;
}

.copyright{
  margin: 70px 0 0 100px;
}

.loginButton:hover {
  opacity: 0.8;
}

.loginButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
