.containerHeader{
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 40px 0 40px;
    background-color: #ccc8a0;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.title{
    display: flex;
    color: white;
    margin-top:18px;
    justify-content: flex-start;
    overflow: visible;
    
}

.end{
    color: white;
    margin-top:18px;
}
