.containerHeader{
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 40px 0 40px;
    background-color: #4492b1;;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.title{
    display: flex;
    color: white;
    padding-top:16px;
    justify-content: flex-start;
    overflow: visible;
    text-decoration: inherit;
    font-size: 22px;
    font-weight: 200;
}

.end{
    
    padding-top:16px;
    font-size: 22px;
    font-weight: 200;
}

.endFooter{
    color: white;
    text-decoration: inherit;
    padding-left: 20px;
}
