.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #4492b1;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
  }

  .footerFixed {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #4492b1;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
  }

  .copyrightFooter{
    padding-top: 14px;

  }

  .contact{
    padding-top: 14px;
    color: rgb(69, 45, 114);


  }

  @media screen and (max-width: 1000px) {
    .sidenav {
      flex-basis: 100px;
      flex-grow: 0.2;
    }
    .sidenav a {
      font-size: 18px;
      padding-right: 2%;
    }
  } 