/* The sidebar menu */
.sidenav {
    height: 1400px; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    float:inline-start;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 22px 8px 6px 42px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
  }

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 