.middle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 88vh;
  background: rgb(70,52,78);
  background: linear-gradient(45deg, rgba(70,52,78,1) 0%, rgba(77,68,87,1) 79%, rgba(84,85,96,1) 100%); 
}

.profileContainer {
  display: flex;
  flex-direction: column;
}

.page {
  margin-top: 70px;
  margin-left: 20%;
  margin-right: 20%;
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.welcomeText {
  color: white;
  font-size: 32px;
}

.mainText{
  color: white;
  font-size: 26px;
  margin-top: 30px;
}

.deleteText{
  color: white;
  font-size: 26px;
  margin-top: 15px;
}

.deleteMainText {
  color: white;
  font-size: 32px;
  margin-top: 80px;
}

.deleteButton {
  background-color: #8a8a8a;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin:0 3% 16px 3%;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}

.buttonContainer {
  margin-top: 50px;
  margin-left:25px;
}

.deleteButton:hover {
  opacity: 0.8;
}

.deleteButton:active {
  background-color: #707070;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
