.searchBarMovies{
  margin-top: 2px;
  margin-bottom: 10px;
}

form.searchBarMovies input[type=text] {
  margin-left: 20px;
  padding: 10px;
  font-size: 17px;
  width: 400px;
  height: 20px;
  background: #f1f1f1;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border: 1px solid white;
  border-right: none;
}

form.searchBarMovies button {
  width: 44px;
  padding: 10px;
  background-color: #5f1f8a;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
}

form.searchBarMovies button:active {
  background: #9e27ee;
}

form.searchBarMovies button:hover {
  opacity: 0.8;
}

.searchImage{
  display: inline-block;
  filter: invert(100%) sepia(0%) saturate(7426%) hue-rotate(20deg) brightness(126%) contrast(115%);
  width: 15.5px;
  margin-right: 2px;
}

.noResults{
  color: white;
  font-size: 25px;
  margin: 20px 20px 20px 20px;
}


form.searchBarMovies::after {
  content: "";
  clear: both;
  display: table;
}

.searchCentered {
  margin: 2% 18%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}