.movieCont {
    display: flex;
    flex-direction: column;
}

.moviemiddle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 88vh;
}

.movieOverlay{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 88vh;
    background-image: linear-gradient(45deg, rgba(36,5,58,1) 0%, rgba(53,13,73,1) 17%, rgba(108,1,137,0.4) 100%);
}

.moviePoster{
    border-radius: 5px;
    width: 400px;
    height: 600px;
}

.centered {
    margin: 2% 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.movieContent {
    margin: 150px 0px 0px 100px;
    color: white;
}

.movieYear{
    font-size: 29px;
    margin-left: 7px;
    font-weight: 500;
}

.genresInfo {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 300;
}

.movieButtonsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.movieButtonNotSelected{
    margin: 5px 12px 0px 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: rgb(81, 17, 112);
}

.chartBackground{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.ratingChart{
    opacity: 1 !important;
    /*background-image: linear-gradient(45deg, rgba(36,5,58,0.2) 0%, rgba(53,13,73,0.2) 17%, rgba(108,1,137,0.2) 100%) !important;*/
}

.movieRate{
    opacity: 0.96 !important;
    border-radius: 5px !important;
}

.movieButtonNotSelected:hover, .movieButtonSelected:hover{
    cursor: pointer;
}

.movieButtonNotSelected img{
    width: 24px;
    filter: invert(100%) sepia(0%) saturate(7426%) hue-rotate(20deg) brightness(126%) contrast(115%);
}

.ratingBar{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.movieButtonSelected{
    margin: 5px 12px 0px 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: rgb(125, 19, 179);
}

.movieButtonSelected img{
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(7426%) hue-rotate(20deg) brightness(126%) contrast(115%);
}

.movieDuration {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 300;
}

.movieTagline{
    margin-top: 18px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.movieOverview{
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    max-width: 800px;
}

.movieTitle{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    font-weight: 700;
}

.noImage {
    width: 400px;
    height: 600px;
}

.brokenImageContainer {
    width: 400px;
    height: 600px;
    border-radius: 5px;
    background-color: #a8a8a8;
}

.brokenImage{
    width: 200px;
    margin: 200px 0px 0px 90px;
    opacity: 0.5;
}

.movieLoad-enter{
    opacity: 0;
}

.movieLoad-enter-active{
    opacity: 1;
    transition: opacity 800ms;
}