.core {
  background-image: linear-gradient(45deg, rgba(36,5,58,1) 0%, rgba(53,13,73,1) 17%, rgba(108,1,137,0.4) 100%);;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.movieImage{
  width: 150px;
  height: 225px;
}

.sliderContainer{
  height: 260px;
  border-radius: 8px;
}
form.searchBarForm button {
  width: 44px;
  min-width: 44px;
  padding: 10px;
  background: #5f1f8a;
  color: white;
  font-size: 17px;
  border: 1px solid #8c449e;
  border-left: none;
  cursor: pointer;
}

form.searchBarForm button:hover {
  background: #430053;
}

form.searchBarForm::after {
  content: "";
  clear: both;
  display: table;
}

.movieContainer{
  display: flex;
  flex-direction: column;
  height: 240px;
  min-height: 240;
  margin: 40px 100px 30px 100px;
}

.movieContainerNoAuth{
  display: none;
}

.slideTitle {
  color: white;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  padding-left:3px;
  margin-bottom: 0px;
}

.slideTitleNotLoaded {
  display: none;
}

.content{
  height: 225px;
}

.movieContainer:last-of-type{
  margin-bottom: 90px;
}

.homeMovieLoad-enter{
  opacity: 0;
}

.homeMovieLoad-enter-active{
  opacity: 1;
  transition: opacity 1500ms;
}

@media screen and (max-width: 730px) {
  .movieContainer{
    margin: 40px 20px 30px 20px;
  }

  form.searchBarForm input[type=text] {
    margin-left: 20px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 300px;
    background: #f1f1f1;
  }
}

